.d-flex.justify-content-end
  .mr-auto.p-2 
   h1 
    a(href="/") #{heading}
  if isLoggedIn 
    .p-2 
      a(href="/auth/logout") Logout
    .p-2 
      a(href="/users/profile") Profile
  else
    .p-2 
    a(href="/auth/signup") Signup 
    .p-2 
    a(href="/auth/login") Login
