extends layout

block content
 .d-flex.justify-content-center.align-item-center
  h1.home-quote "Start with a Smile." 
  h1.home-quote2 "#{quote}"
   .d-flex.justify-content-center.align-item-center 
    p.home-author2 by #{author}
      a(href=`/likes/${quote_id}`)
        i.fa.fa-heart#heart-like(aria-hidden='true')
      
