extends layout

block content
 .d-flex.justify-content-center.align-item-center
  h1.home-quote "Start with a Smile." 
   .d-flex.justify-content-center.align-item-center
    p.home-author by us
    i.fa.fa-heart(aria-hidden='true')
