doctype html
html(lang="en")
  head
    block scripts
      script(src='script.js')
      link(rel="stylesheet", href="styles.css")
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")  
  body
    include includes/header.pug
    block content
    include includes/footer.pug
    
    
