extends layout

block content
  div(class='modal', id='myModal')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Add a Somthing to Make you Smile
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form.smile-form
            .smile-form-group
              label(for='smile-textarea') Maybe a quote...
              textarea#textarea.form-control(rows='10')
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Submit

  .d-flex.flex-column
   img.user-img-profile.img-fluid(src='https://cdn6.bigcommerce.com/s-491hew/products/1260/images/2288/36fluorescentblue__68350.1479377501.500.525.jpg?c=2', alt='Responsive image',style=" height:350px;")
  .d-flex.flex-row.align-items-baseline.justify-content-start   
   img.user-img.rounded.float-left(src=`${image}`, alt='') 
   h2.user-welcome Smile, #{name} 
   
  div.d-flex.justify-content-center
    h1.profile-quote.d-flex-justify-content "The way you tell your story to yourself matters." 
     .d-flex.justify-content-center.align-item-center
      p.home-author by Amy Cuddy
      i.fa.fa-heart(aria-hidden='true')   
      br  
  div.d-flex.justify-content-center
    button.add-smile.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#myModal') Add thing that make you Smile
      

    
