extends layout

block content

  .d-flex.flex-column
   img.user-img-profile.img-fluid(src='https://cdn6.bigcommerce.com/s-491hew/products/1260/images/2288/36fluorescentblue__68350.1479377501.500.525.jpg?c=2', alt='Responsive image',style=" height:350px;")
  .d-flex.flex-row.align-items-baseline.justify-content-start   
   img.user-img.rounded.float-left(src='https://www.shotgundigital.com/images/g_image/photo-002137.jpg', alt='...') 
   h2.user-welcome Smile, Jeff
   
  div.d-flex.justify-content-center
    h1.profile-quote.d-flex-justify-content "Start with a Smile." 
     .d-flex.justify-content-center.align-item-center
      p.home-author by us
      i.fa.fa-heart(aria-hidden='true')   
      br  
  div.d-flex.justify-content-center
    button.add-smile.btn.btn-outline-primary(type='button') Add thing that make you Smile
