extends layout

block content
  div(class='modal', id='myModal')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Add a Somthing to Make you Smile
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form(action='/users/new/quote', method='POST').smile-form
            .smile-form-group
              label(for='author') Quote Author
              input#smile-input.form-control(type='text', placeholder='Author', name='author')
            .smile-form-group
              label(for='smile-textarea') Maybe a quote...
              textarea#textarea.form-control(rows='10',name='quote')
              br
            button.btn.btn-primary(type='submit', ) Submit
        .modal-footer
        

  .d-flex.flex-column
    
   
  
    img.user-img(src=`${image}`, alt='') 
    h2.user-welcome Smile, #{name} 
  div.d-flex.justify-content-center
    h1.profile-quote.d-flex-justify-content #{quote} 
     .d-flex.justify-content-center.align-item-center
      p.home-author by #{author}
      i.fa.fa-heart(aria-hidden='true')   
      br  
  div.d-flex.justify-content-center
    button.add-smile.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#myModal') Add thing that make you Smile
      

    
